<div class="form-group">
    <label>Lender email address</label>
    <input type="email" class="form-control">
    <label>Monthly mortgage payment?</label>
    <input type="text" class="form-control">
    <label>Property taxes</label>
    <input type="text" class="form-control">
    <label>Monthly condo dues</label>
    <input type="text" class="form-control">
</div>