<div class="form-group">
    <label>Landlord's email address</label>
    <input type="email" class="form-control">
    <label>Current rent?</label>
    <input type="text" class="form-control">
    <label>Lease end date?</label>
    <input type="date" class="form-control">
</div>